*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: aqua;
}

.Main-Thing {
    background-image: url("../assets/images/nonna-cooking.jpg");
    background-size: cover;
    border: 5px solid black;
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 10vh;
    left: 30vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.Main-Thing-2 {
    background-color: rgb(233, 139, 84);
    border: 5px solid black;
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 10vh;
    left: 30vw;
}

.navbar {
    padding-left: 2vw;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #7fbfb0;
height: 10vh;
}

.nombre {
    margin-left: 35vw;
    font-size: 3.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    border-radius: 30vw;
    width: 6vw;
    height: 12vh;
    margin-right: 1vw;
    margin-bottom: 1vh;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(50, 53, 35);
    font-size: 3vw;
}
.title {
    width: 22vw;
    height: 12vh;
    margin-left: 37vw;
    margin-bottom: 1vh;
}
.first-div {
    display:flex;
    justify-content: center;
align-items: center;
flex-direction: column;
background-color: beige;
border-radius: 20px;
margin-top: 15px;
border: 3px solid black;
box-shadow: 5px 5px ;
width: 200px;
height: 250px;
}

.section  {
    margin-bottom: 10px;
    border-radius: 30px;
    
}
.section h3{
    text-align: center;
    font-size: 20px;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}
.section img {
 
    width: 180px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section p {
    font-size: 18px;
    align-items: start;
    margin-left: 12px;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}
.buttons {
    width: 60px;
    border-radius: 20px;
    margin-left: 20px;
    border: 2px solid black;
    font-weight: bold;
}
.delete {
    background-color: black;
    color: red;
}
.details {
    background-color: white;
    color: blue;
}
.recipe-card {
    width: 63vw;
    height: 68.5vh;
    position: absolute;
    display: flex;
    margin-left: 6vw;
    flex-direction: column;
    overflow: auto;
}
.recipe-card img {
    width: 60vw;
    height: 50vh;
}
.recipe-card h3 {
    margin-right: 5vw;
    font-size: 60px;
    border-bottom: 2px solid black;
    font-weight: bold;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.recipe-card h4 {
    margin-right: 9vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 40px;
    font-weight: bold;
}
.recipe-card p {
    font-size: 30px;
    margin-right: 7vw;
    color: black;
}
.info{
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: bolder
}
.back-button {
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid black;
    background-color: yellow;
    color: brown;
    margin-bottom: 20px;

}
.formulary {
    background-color: rgb(230, 228, 228);
width: 20vw;
height: 40vh;
position: absolute;
top: 5vh;
left: 48vw;
display: flex;
flex-direction: column;
align-items: center;
border: 4px solid black;
border-radius: 5vh;
}
.formulary input{
    height: 3vh;
    width: 15vw;
    margin-top: 1vh;
}
.name {
    margin-top: 1vh;
}
.form-content {
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 10vh;
    left: 30vw;
    background-image: url("../assets/images/nonna-cooking.jpg");
    background-size: cover;
}
.submit {
    margin-top: 3vh;
    margin-bottom: 3vh
}
.About-us {
    width: 70vw;
    height: 70vh;
    display: flex;
    position: absolute;
    top: 10vh;
    left: 30vw;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    font-size: 1.5vw;
    background-color: black;
  }
  .creator-card-A{
    width: 22vw;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -6px 14px 38px -20px rgba(255,255,255,1);
  }
 

  .creator-image{
    width: 18vw;

    height: 40vh;
    border-radius: 30%;
    margin-bottom: 10px;


  }
  h1{
    color: black;

  }
  .we{
    font-size: 3vw;
    color: #f8e7e7;
    margin-bottom: 2vh;
    border-bottom: 2px solid white;
  }
  p{
    font-size: 1.5vw;
    color: #c4b6b6;
    margin-bottom: 1.5vh;
  }
  .pharagraph-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  /*.NARDY {
    width: 60px;
    height:60px ;
    border-radius: 50%;
  }
  .Nisol{
    width: 60px;
    height:60px ;
    border-radius: 50%;
  }
  .Mikel{
    width: 60px;
    height:60px ;
    border-radius: 50%;
  }
  .cardNardy{
    border-radius: 20px;
    padding: 20px;
  }
  .cardNisol{
    border-radius: 20px;
    gap: 20px;

  }
  .cardMikel{
    border-radius: 20px;
    padding: 10px;

  } */