root{
  margin: 0;
  width: 0;
  padding: 0
}
body{
  margin: 0;
  background-color: rgb(204, 220, 220);


}
.container{
  width: 100%;
  background-color: antiquewhite;
  padding: 1em 0;
display: flex;
align-items: center;
flex-wrap: wrap;
position: absolute;
bottom: 0;

}

img{
  width: 20px;
  height: 20px;
  padding: 3px;
  
  

}

