*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(208, 255, 0);
height: 15vh;
}
.menu {
    background-color: rgb(157, 33, 33);
   display: absolute;
   width: 50px;
   
}
.logo {
    border-radius: 30px;
    width: 180px;
}